[Desktop Entry]
Comment=LC-3 Simulator
Comment[en_US]=LC-3 Simulator
Encoding=UTF-8
Exec=/usr/local/simplc/simpl
GenericName=Simpl
GenericName[en_US]=Simpl
Icon=/usr/local/simplc/hi32-app-simpl.png
MimeType=
Name=Simpl
Name[en_US]=Simpl
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
